.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444444;
  font-weight: lighter;
  // max-width: 1400px;
  -webkit-text-stroke-width: thin;

  .line {
    width: 80%;
    height: 70px;
    position: relative;
    overflow: hidden;

    span {
      position: absolute;
      font-size: 2.5rem;
      line-height: 4.2rem;

      @media screen and (max-width: 767px) {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}
