.home {
  h1 {
    width: 100%;
    color: $text-color;
  }
}

@media screen and (max-width: 992px) {
  .home {
    h1 {
      margin-block-end: 1em;
    }

    .featured-posts-container {
      flex-direction: column;
    }

    .ostatnie-posty {
      margin-top: 48px;
    }
  }
}
.ant-back-top {
  color: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%) !important;
}
