@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.post-container {
  border-radius: 10px 10px 10px 10px;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  //   0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
  //   0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 200px;
  margin-bottom: 48px;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 0;
    box-shadow: none;
  }
  @media screen and (max-width: 959px) {
    width: 100%;
  }

  .post-text {
    color: #4b4f56;
    font-size: 18px;
  }
}

.post-body {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 248px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: #fff;
  opacity: 0.9;

  .post-title {
    font-size: 24px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0px;
    color: #5c5c5c;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post-date {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.image-post {
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    border-radius: 0;
  }
}
